<!--
Not a lot to look at, but try opening multiple tabs.
The original plan was to allow the user to click on a block to set its color,
but for now there is just a loop that changes colors randomly.  More windows, more change.

Backend: SignalR
Frontend: React/Redux
    -Kevin Salicos, September 2017
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadPoet.Com Flashy Blocky Thing</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
